<div class="container">
  <div class="row">
    <div class="col-sm-11 col-md-9 col-lg-7 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div>
            <%= link_to "", todos_path, {class: "fa fa-arrow-left", style:"margin-top:10px;position:relative;float:left"} %>
            <h4 class="card-title text-center">
              Items tagged with:
              <br>
              <b><%= @tag.name %></b>
            </h4>
          </div>

          <div>
            <% @tag.todos.each do |todo| %>
              <%= link_to todo.item, todo_path(todo) %>
              <br>
              <small><%= todo.details %></small>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>