<div class="container">
  <h1>My To-Dos</h1>

  <div class="container">
  <%# FIXME: Layout. Pretty sure this is wrong. But, I'll fix later when everything else is cleaned up nicely%>
  <p>
    <% @todo.each do |todo| %>
      <%# TODO: Change placeholder 'completed' unicode symbols to checkboxes %>
      <h2><%= todo.done ? "\u2611" : "\u2610" %>
      <%= link_to todo.item, todo_path(todo) %></h2>
    <% end %>
  </p>
  <br>
  All tags:
  <p>
    <% @tag.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %></h2>
    <% end %>
  </p>
  <br>
  <p>
  Completed to-dos
  <%# Toggle to show completed todos%>
  </p>
  <p>
    <%= link_to  "Create new to-do", new_todo_path %>
  </p>
  </div>
</div>