<div class="container">
  <div class="row">
    <div class="col-sm-11 col-md-9 col-lg-7 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h4 class="card-title text-center">My To-dos</h4>

          <div class="container">
          <p>
            <% @todo.each do |todo| %>
              <h2>
              <%= link_to todo.item, todo_path(todo) %>
              <% if todo.done %>
              <div class= "fa fa-check-square fa-1x" style= "position:relative;float:right;margin-top:5px;color:#fec503"/>
              <% else %>
              <div class= "fa fa-square-o fa-1x" style= "position:relative;float:right;margin-top:5px;color:#fec503"/>
              <% end %>
              </h2>
            <% end %>
          </p>
          <br>
          <br>
          All tags:
          <p>
            <% @tag.each do |tag| %>
              <%= link_to tag.name, tag_path(tag) %></h2>
            <% end %>
          </p>
          <br>
          <p>
          <%#Completed to-dos%>
          <%# Toggle to show completed todos%>
          </p>
          <p>
            <%= link_to  "Create new to-do", new_todo_path, class:"btn btn-primary", style:"position:relative;float:right"%>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>